{%- macro section(title = None, id = None, img = None, subtitle = None) -%}
<div class="hero is-info">
    <div class="hero-body" {% if id %}id="{{ id }}" {% endif %}>
        {% if title %}
        <div class="header{% if id %}-{{ id }}{% endif %}">
            <h1 class="title" id="{{ id }}-title">{{ title }}</h1>
            <p class="subtitle" id="{{ id }}-subtitle">{{ subtitle }}</p>
        </div>
        {% endif %}
    </div>
</div>
{{ caller() }}
{%- endmacro -%}

{%- macro err(errors, field) -%}
{% if errors and errors[field] %}
<small class="error">{{ errors[field] }}</small>
{% endif %}
{%- endmacro -%}

{%- macro download_url(name, mirrored) -%}
{%- if name in mirrored -%}
https://storage.log1p.xyz/
{%- else -%}
https://storage.googleapis.com/escargot-storage-1/public/
{%- endif -%}
{{ name }}
{%- endmacro -%}

{%- macro icon_url(client, thumbnail) -%}
/static/icons/{{ client }}/{{ thumbnail }}
{%- endmacro -%}

{%- macro gen_client_downloads(download, mirrored, display, client) -%}
{%- for lang_name, download_tpl in download -%}
<div class="download-by-lang">
    <div class="download-lang">
        {%- if download_tpl[0] -%}
        <img src="/static/flags/{{ download_tpl[0] }}.png" title="{{ lang_name }}"/>&nbsp;
        {%- endif -%}
        <h3>{{ lang_name }}</h3>
    </div>
    {%- for d in download_tpl[1] -%}
    <div class="download-options">
        <div class="download-option">
            <img src="{{ icon_url(client, display[d['version']]['thumbnail']) }}"/>
            <p class="download-name">
                {{ display[d['version']]['display_name'] }}
                {%- if d['recommended'] == 'true' -%}
            <p class="download-reco">RECOMMENDED</p>
            {%- endif -%}
            </p>
            <ul>
                {%- if d['patched_installer'] -%}
                <li>
                    <a href="{{ download_url('patched-installer/' + client + '/' + d['patched_installer'], mirrored) }}">Patched</a>
                </li>
                {%- endif -%}
                {%- if d['installer'] -%}
                <li>
                    <a href="{{ download_url('installer/' + client + '/' + d['installer'], mirrored) }}">Unpatched</a>
                    <a href="/connecting#{{ client }}">
                        <small>(How to patch)</small>
                    </a>
                </li>
                {%- endif -%}
            </ul>
        </div>
    </div>
    {%- endfor -%}
</div>
{%- endfor -%}
{%- endmacro -%}