{%- extends 'base.html' -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/account.css"/>
<link rel="stylesheet" href="/static/style/login.css"/>
{%- endblock -%}

{%- block content -%}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <aside class="menu">
                    <h2 class="menu-label">Options</h2>
                    <ul class="menu-list">
                        <li><a href="/account">Account Info</a></li>
                        <li><a href="/account/change-password">Change Password</a></li>
                        <li><a href="/account/puid">PUID</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                {% if errors or frontend_saved %}
                <div id="notif-account">
                    {% if errors %}
                    <div class="errors-warn">
                        <div id="errors">
                            {% if errors['frontend'] %}
                            {{ errors['frontend'] }}
                            {% endif %}
                        </div>
                    </div>
                    {% elif frontend_saved %}
                    <div class="no-errors">
                        Frontend settings saved successfully!
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="account-info">
                    <h1 class="title">Account Info</h1>
                    <div class="info-content">
                        <div class="account-info-name" style="vertical-align: top; padding-bottom: 2em">
                            <p>
                                E-mail Address:
                                <strong style="display: inline-block">{{ user.email }}</strong>
                            </p>
                            <p>
                                Username:
                                <strong style="display: inline-block">{{ user.username }}</strong>
                            </p>
                            <p>
                                Blockland ID:
                                <strong style="display: inline-block">{{ user.blockland_id }}</strong>
                            </p>
                            <small>In order to change your Blockland ID to be your actual one, please contact
                                administration.</small>
                        </div>
                        <div class="account-info-frontends">
                            <h2 class="title is-4">Insecure Frontend Options</h2>
                            <article class="message is-warning">
                                <div class="message-header">
                                    <p>Important note</p>
                                </div>
                                <div class="message-body">
                                    The frontend options below require <strong>insecure</strong> hashing algorithms to
                                    log in to your Escargot account. Because there is no way to circumvent these
                                    authentication methods, we have to store your password in the respective hashes with
                                    your permission. Your password won't be crackable if they are enabled, but the
                                    hashes used for these passwords aren't cryptographically secure in nature and can
                                    carry the risk of being collided. Stay wary when these options are enabled.
                                </div>
                            </article>
                            <div class="account-frontend-form">
                                <form class="account-form" action="/account" method="post">
                                    <input type="hidden" name="action" value="updateInsecureFrontends"/>
                                    <input type="checkbox" name="old_msn" value="true" {% if 'msn' in user._front_data
                                    %}checked{% endif %}>
                                    <label for="old_msn">Old MSN support (required to log in to MSN 1/2/3/4; utilizes
                                        salted
                                        MD5).</label>
                                    <br/>
                                    <input type="checkbox" name="yahoo" value="true" {% if 'ymsg' in user._front_data
                                    %}checked{% endif %}/>
                                    <label for="yahoo">Yahoo! Messenger support (required to log in to Yahoo! Messenger
                                        5;
                                        utilizes MD5 and MD5Crypt).</label>
                                    <br/>
                                    <input placeholder="Current Password (6+ chars)"
                                           class="input" type="password" name="password" required
                                           onkeyup="verifyPassword(this.value);" pattern=".{6,}"/>
                                    <br/><br/>
                                    <button class="button is-warning" type="submit" id="submitFrontends" class="btn"
                                            disabled>
                                        Update
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script>
    function verifyPassword(value) {
        if (value.length >= 6) {
            document.getElementById('submitFrontends').disabled = false;
            return;
        }

        document.getElementById('submitFrontends').disabled = true;
    }
</script>
{%- endblock -%}