{%- extends 'base.html' -%}

{%- from '_funcs.html' import err, section -%}

{%- block head_end -%}
<link rel="stylesheet" href="/static/style/forgot.css"/>
{%- endblock -%}

{%- block content -%}
<div class="group section content">
    <div class="group section">
        <div class="col span4-4 separator">
        </div>
    </div>
    <div class="group section section-default">
        <div class="header-forgot" align="center">
            <img src="/static/emots/emot-worried.gif" width="30" style="position: relative; top: 5px;"/>
            <h1 class="section-caption" id="forgot-hdr">Forgot your Password?</h1>
            <p id="forgot-subtitle">
                If you forgot your password, enter your email address in the form below.
                <br/>
                You'll receive an email with a link to change your password.
            </p>
        </div>

        <div class="form-cont" align="left">
            {% if sent_to %}
            <div id="no-errors" class="no-errors">
                Password reset email was sent to <strong id="sent_to">{{ sent_to }}</strong>.
            </div>
            {% endif %}
            {% if errors %}
            <div id="errors" class="errors-warn">
                Password reset email was not sent. See errors below.
            </div>
            {% endif %}

            <form class="forgot-form" role="form" method="post">
                <div class="forgot-field">
                    <label class="field-label" for="email">E-mail Address:</label>
                    <br>
                    <input id="email" type="email" name="email" class="field" style="width: 100%;"
                           placeholder="your@email.com" {% if email !=None %}value="{{ email }}" {% endif %}required/>
                    <label for="email">{{ err(errors, 'email') }}</label>
                    <br/><br/>
                    <button id="send-reset" type="submit" class="btn" style="float:right;">
                        Send reset request
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="group section">
        <div class="col span4-4 separator content-end spin180"></div>
    </div>
</div>

<style>
    .forgot-form {
        margin: 0 auto;
        width: 55%;
        padding-bottom: 4em;
    }
</style>
{%- endblock -%}